.navbar{
    height: 10vh;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}