.navBar{
    height: 10vh;
    width: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    position: sticky;
    border-bottom: 0.2vh solid rgba(108,99,255,1);
    background-color: rgba(15,17,23,1);
    color: rgba(226,232,240,1);
}

.navBarLeft{
    width: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}

h1{
    margin: 0;
}

.navBarRight{
    width: 100%;
    margin: 0;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;
    justify-content: space-around;
    position: sticky;
}