.divSobreMi{
    height: 50vh;
    width: 100%;
    background-color: rgba(15,17,23,1);
    border-bottom: 0.2vh solid rgba(108,99,255,1);
}

.tituloPerfilProfesional{
    color: rgba(226,232,240,1);
}

.parrafoSobreMi{
    color: rgba(148,163,184,1);
}